.container {
    padding: 10px !important;
    .content {
        padding: 1rem 0px;
        height: auto;
        width: 350px;
        transition: 0.3s;
        border-radius: 17px;
        background: rgba(0, 128, 0, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        margin-bottom: 20px;
        color: red
        /* margin-right: 20px; */
    }
}